:root{
    --background--primary--color:#ffffff;
    --background--secundary--color:#f5f5f5;
    --background--tertiary--color:#0000;
    
    --botoon--primary--color:#8f0101;
    --botoon--secundary--color: #b81515;

    --text--primary--color:#222222;
    --text--secundary--color:#ffffff;
}

body,img,h1,p,fieldset,legend,input,select,textarea,button{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}